<h1><%= @festival.name %></h1>

<a href="artists/new">Create Artist</a>
<br>
<%= link_to "Sort Artists by Name", "artists?sort=alpha" %>
<% @all_artists = [] %>
<% @artists.each do |artist| %>
    <% if artist.festival_id == @festival.id %>
        <% @all_artists << artist %>
    <% end %>
<% end %>
<% @all_artists.each do |artist| %>
        <h3><%= artist.name %></h3>
        <p>Performers: <%= artist.performers %></p>
        <p>Headliner: <%= artist.headliner %></p>
        <a href="/artists/<%= artist.id  %>/edit">Edit</a>
<% end %>
