<h1><%= @festival.name %></h1>

<a href="artists/new">Create Artist</a>
<br>
<%= link_to "Sort Artists by Name", "artists?sort=alpha" %>
<br>
<%= form_with url: "artists?threshold=number", method: :get, data: {turbo: false} do |form| %>
    <p>Must Have More Than This Number of Performers</p>
    <%= form.text_field :threshold %>
    <%= form.submit 'filter' %>
<% end %>
<% @all_artists = [] %>
<% @artists.each do |artist| %>
    <% if artist.festival_id == @festival.id %>
        <% @all_artists << artist %>
    <% end %>
<% end %>
<% @all_artists.each do |artist| %>
        <h3><%= artist.name %></h3>
        <p>Performers: <%= artist.performers %></p>
        <p>Headliner: <%= artist.headliner %></p>
        <a href="/artists/<%= artist.id  %>/edit">Edit</a>
        <form action="/artists/<%= artist.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
        </form>
<% end %>
