<h1><%= @festival.name %></h1>

<p>Location: <%= @festival.location %></p>
<p>Stages: <%= @festival.stages %></p>
<p>Age Restricted: <%= @festival.age_restricted %></p>
<p>Created At: <%= @festival.created_at %></p>
<p>Updated At: <%= @festival.updated_at %></p>