<h1><%= @festival.name %></h1>

<a href="<%= @festival.id %>/edit">Update Festival</a>
<br>
<a href="<%= @festival.id %>/artists">Artists</a>

<% @all_artists = [] %>
<% @artists.each do |artist| %>
    <% if artist.festival_id == @festival.id %>
        <% @all_artists << artist %>
    <% end %>
<% end %>
<p>Artists: <%= @all_artists.count %></p>
<p>Location: <%= @festival.location %></p>
<p>Stages: <%= @festival.stages %></p>
<p>Age Restricted: <%= @festival.age_restricted %></p>
<form action="/festivals/<%= @festival.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
</form>